/* colors start */
/*

dark blue : #02458c
border on dark blue : #083158
light blue : #
green : #31e571
yellow : #
red : #

*/
/* colors end */

/* normalize etc start */
@font-face {
  font-family: ProximaNovaBold;
  src: url("../fonts/ProximaNovaBold.otf") format("opentype");
}

@font-face {
  font-family: ProximaNovaRegular;
  font-weight: bold;
  src: url("../fonts/ProximaNovaRegular.otf") format("opentype");
}

.clearfix:before,
.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}

h1, h2, h3, h4, h5, h6, div, ul {margin: 0; padding: 0;}
/* normalize etc fin */

/* command center page start */
a, a:hover, a:focus, a:visited {color: #02458c; text-decoration: none;}

body {background: #02458c; margin: 0; padding: 0; font-family: ProximaNovaRegular; width: 750px;}

#status_bar {background: url("../img/home_top_banner.png") no-repeat; border-bottom: 1px solid #083158; 
  height: 128px; position: fixed; top: 0; width: 750px;}

#profile {margin-top: 129px; height: 300px;}
  #profile img {float: left; margin: 50px;}
  #profile #flight_info {float: left; margin-top: 50px;}
    #flight_info h4 {color: #fff; display: inline-block; font-size: 50px;}
    #flight_info h4:first-child {background: url('../img/bar.png') no-repeat 100px 18px; padding-right: 140px;}
    #flight_info table {border-collapse: collapse; margin-top: 10px;}
      #flight_info tr:first-child td {color: #4695d6;}
        #flight_info td {color: #fff; font-size: 32px; padding: 7px 15px;}
        #flight_info td:first-child {padding-left: 0;}

#enough_time {background: #31e571; border-top: 1px solid #083158; height: 380px;}

#promo {border-top: 1px solid #083158; height: 220px;}

#quicks {border-top: 1px solid #083158;}
  #quicks a:first-child {margin-left: 26px;}
  #quicks a:last-child {margin-right: 0;}
    #quicks img {margin-right: 20px; padding: 20px 0;}

#gate_explore {background: #fff; border-top: 1px solid #083158; height: 120px;}

    #gate_explore h2 {float: left; font-size: 32px; font-weight: bold; margin: 0; letter-spacing: 2px; 
      line-height: 120px; text-align: center; width: 375px;}
      #gate_explore h2 a {color: #02458c;}
      #gate_explore h2 a:first-child {color: #02458c;}
/* command center page fin */

/* store list page */
ul {padding: 0;}
  li {list-style-type: none; margin: none; padding: none;}

ul#filter_bar {background: #02458c; height: 75px; margin: 129px 0 0 0; position: fixed; top: 0; width: 750px;}
  ul#filter_bar li {border-right: 1px solid #083158; color: #fff; display: inline-block; float: left;
    font-size: 31px; height: 75px; line-height: 75px; padding: 0 64px;}
  ul#filter_bar li:last-child {border-right: none;}

ul#storefront_list {background: #fff; margin: 0; margin: 204px 0 0 0;}
  ul#storefront_list li {border-top: 1px solid #ccc; display: block; list-style-type: none; padding: 20px;}
    ul#storefront_list div.mid_row {margin: 20px 0 15px 0;}
    ul#storefront_list div {padding: 0 0 0 15px;}
      ul#storefront_list div div.stars {background: url('../img/stars.png') no-repeat; display: inline-block;
        float: right; height: 39px; width: 165px; }
        ul#storefront_list div.top_row h4 {color: #6ac0ff; display: inline-block; font-size: 32px; 
          line-height: 39px;}
      ul#storefront_list h5 {display: inline-block; font-weight: bold; font-size: 28px;}
      ul#storefront_list div.low_row h5 {color: #073; font-style: italic;}
      ul#storefront_list h6 {display: inline-block; font-weight: bold; float: right; font-size: 28px; 
        margin-right: 20px;}
