/* colors start */
/*

dark blue : #02458c
border on dark blue : #658db9
light blue : #6ac0ff
text blue : #0467c6
green : #31e571
yellow : #ff9700
red : #d12844

*/
/* colors end */

/* normalize etc start */
@font-face {
  font-family: ProximaNovaBold;
  src: url("../fonts/ProximaNovaBold.otf") format("opentype");
}

@font-face {
  font-family: ProximaNovaRegular;
  font-weight: bold;
  src: url("../fonts/ProximaNovaRegular.otf") format("opentype");
}

.clearfix:before,
.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}

h1, h2, h3, h4, h5, h6, div, ul {margin: 0; padding: 0;}
/* normalize etc fin */

/* command center page start */
a, a:hover, a:focus, a:visited {color: #02458c; text-decoration: none;}

body {background: #02458c; color: #fff; font-size: 30px; margin: 0; padding: 0; 
  font-family: ProximaNovaRegular; width: 750px;}

#status_bar {background: url("../img/home_top_banner.png") no-repeat; border-bottom: 1px solid #658db9; 
  height: 128px; position: fixed; top: 0; width: 750px; z-index: 2;}

#profile {margin-top: 129px; height: 280px;}
  #profile img {float: left; margin: 50px;}
  #profile #flight_info {float: left; margin-top: 50px;}
    #flight_info > div:first-child {padding: 0 176px;}
      #flight_info h4 {color: #fff; float: left; font-size: 50px; letter-spacing: 2px}
    #flight_info div#status_details {width: 750px;}
      #flight_info div#status_details div {float: left; padding-top: 30px; width: 187px}
      #flight_info div#status_details.in_threes div {width: 250px;}
        #flight_info h5 {color: #fff; font-size: 32px; text-align: center;}
        #flight_info h5:first-child {color: #6ac0ff; margin-bottom: 7px;}
        #flight_info img {position: relative; margin: 21px 50px 30px 50px; top: 0px; z-index: 1;}

#enough_time {border-top: 1px solid #658db9; height: 420px;}
#enough_time_post_board {background: #6ac0ff; border-top: 1px solid #658db9; height: 420px; padding-top: 50px;}

.green {background: #31e571;}
.amber {background: #ff9700;}
.red {background: #d12844;}

#promo {border-top: 1px solid #658db9; height: 380px;}
  #promo > div {background: url('../img/s1/uber.png') top 120px left 75px no-repeat; padding: 75px 0 0 260px;}
    #promo h5, #promo p {color: #6ac0ff;}
    #promo h5 {font-size: 40px;}
    #promo p {font-size: 36px; line-height: .7em; font-style: italic;}

#quicks {border-top: 1px solid #658db9;}
  #quicks a:first-child {margin-left: 26px;}
  #quicks a:last-child {margin-right: 0;}
    #quicks img {margin-right: 20px; padding: 20px 0;}

#gate_explore {background: #fff; border-top: 1px solid #658db9; height: 120px;}
    #gate_explore h2 {float: left; font-size: 32px; font-weight: bold; margin: 0; letter-spacing: 2px; 
      line-height: 120px; text-align: center; width: 375px;}
      #gate_explore h2 a {color: #02458c;}
      #gate_explore h2 a:first-child {color: #02458c;}
/* command center page fin */

/* transit list */
ul#arrival_list {margin: 129px 0 0 0;}
  ul#arrival_list li {background: #fff; border-bottom: 1px solid #ddd; color: #000; height: 200px;}
    ul#arrival_list li div {float: left; height: 100%;}
    ul#arrival_list li div:first-child {background: url('../img/exit/train90.png') 35px center no-repeat;
      padding: 0 0 0 160px;}
      ul#arrival_list li div:first-child h4 {color: #0467c6; font-size: 38px; padding: 55px 0 10px 0;}
      ul#arrival_list li div:first-child h5 {font-size: 30px;}
    ul#arrival_list li div:last-child {float: right; font-size: 40px; padding: 0px 50px;}
      ul#arrival_list li div:last-child h6 {color: #6ac0ff;}
      ul#arrival_list li div:last-child h6:first-child {margin: 57px 0 10px 0; font-size: 30px; 
        text-align: right;}
      ul#arrival_list li div:last-child h6:last-child {font-size: 36px; text-align: right;}
      
      ul#arrival_list #train {background: url('../img/exit/train90.png') 35px center no-repeat;}
      ul#arrival_list #bus {background: url('../img/exit/bus90.png') 35px center no-repeat}
      ul#arrival_list #car {background: url('../img/exit/car90.2.png') 35px center no-repeat}
      ul#arrival_list #taxi {background: url('../img/exit/cab90.png') 35px center no-repeat}
      ul#arrival_list #shuttle {background: url('../img/exit/bus90.png') 35px center no-repeat}
      ul#arrival_list #uber {background: url('../img/exit/car90.png') 35px center no-repeat}

      ul#arrival_list a, a:hover, a:focus, a:visited {color: #0467c6;}

/* transit list fin */

/* store list page */
ul {padding: 0;}
  li {list-style-type: none; margin: none; padding: none;}

ul#filter_bar {background: red url('../img/push_group_3.png'); height: 148px; margin: 129px 0 0 0; position: fixed; top: 0; width: 750px;}

ul#storefront_list {background: #fff; color: #000; margin: 0; margin: 277px 0 0 0;}
  ul#storefront_list li {border-top: 1px solid #ccc; display: block; list-style-type: none; padding: 20px;}
  ul#storefront_list li em {font-style: normal; color: #6ac0ff;}
  ul#storefront_list li em.nono {color: #d12844;}
    ul#storefront_list div.mid_row {margin: 20px 0 15px 0;}
    ul#storefront_list div.mid_row h5 {color: #aaa;}
    ul#storefront_list div {padding: 0 0 0 15px;}
      ul#storefront_list div#transit_prices {float: right;}
        ul#storefront_list div#transit_prices h6 {clear: both; display: block; position: relative; top: 20px;   }
      ul#storefront_list div div.stars {background: url('../img/stars.png') no-repeat; display: inline-block;
        float: right; height: 39px; width: 165px; }
        ul#storefront_list div.top_row h4 {color: #6ac0ff; display: inline-block; font-size: 32px; 
          line-height: 39px;}
      ul#storefront_list h5 {display: inline-block; font-weight: bold; font-size: 28px;}
      ul#storefront_list div.low_row h5 {color: #073; font-style: italic;}
      ul#storefront_list h6 {display: inline-block; font-weight: bold; float: right; font-size: 28px; 
        margin-right: 20px;}

/*----------MAP PAGE---------*/
#status_bar.title {background: #02458C;}
#status_bar.title h4 {text-align: center; position: relative; top: -35px;}
#status_bar img {margin: 40px 0 0 40px;}

#map {padding-top: 350px;}
#popover {margin-top: 128px; height: 350px; background: #fff; color: #000; position: fixed; width: 750px;}
#popover h5 {color: #004990; font-style: bold; padding: 0; margin: 0;}
#popover span {color: #bbb; font-size: 0.7em; margin: 0; padding: 0;}
.popover-left {float: left; padding: 40px 40px 0 40px;}
.popover-right {margin-left: 450px; padding: 40px 40px 0 40px;}
.popover-right p {font-size: 24px;}
.popover-p {padding: 0 40px; margin: 0;}
#popover > img {margin-left: 45%;}
